<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <title>게시글 상세</title>
</head>

<body>
<div class="container">
    <div class="board-card">

        <div class="header">
            <h1>Dev Board</h1>
            <p>게시글 상세</p>
        </div>

        <div class="board-title">
            <h2 th:text="${board.title}">제목</h2>
        </div>

        <div class="board-meta">
            <div>
                <strong>작성자</strong>
                <span th:text="${board.writerNickname}">작성자</span>
            </div>

            <div>
                <strong>카테고리</strong>
                <span th:text="${board.category.description}">카테고리</span>
            </div>

            <div>
                <strong>작성일시</strong>
                <span th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')}">작성일시</span>
            </div>
        </div>

        <div class="board-content">
            <p th:text="${board.content}">
                게시글 내용
            </p>
        </div>

        <div class="button-group">
            <a th:href="@{/boards}" class="btn btn-primary">목록으로</a>

            <a th:if="${isWriter}" class="btn btn-edit"
               th:href="@{|/boards/${board.boardId}/edit|}">수정</a>

            <a th:href="@{/}" class="btn btn-secondary">홈으로</a>
        </div>
    </div>
</div> <!--/container-->
</body>
</html>
