<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/member.css}">
</head>

<body>
<div class="container">
    <div class="signup-card">
        <div class="header">
            <h1>Dev Board</h1>
            <p>마이페이지</p>
        </div>

        <div class="form-group">
            <label>이메일</label>
            <input type="text" th:value="${myPageResponse.email}" readonly>
        </div>
        <div class="form-group">
            <label>닉네임</label>
            <input type="text" th:value="${myPageResponse.nickname}" readonly>
        </div>
        <div class="form-group">
            <label>성별</label>
            <input type="text" th:value="${myPageResponse.gender.description}" readonly>
        </div>
        <div class="form-group">
            <label>권한</label>
            <input type="text" th:value="${myPageResponse.role.description}" readonly>
        </div>
        <div class="form-group">
            <label>회원 상태</label>
            <input type="text" th:value="${myPageResponse.status.description}" readonly>
        </div>
        <div class="form-group">
            <label>가입일</label>
            <input type="text" th:value="${#temporals.format(myPageResponse.createdAt, 'yyyy-MM-dd')}" readonly>
        </div>

        <div class="button-group">
            <a th:href="@{/}" class="btn btn-secondary">홈으로</a>

            <a th:href="@{/members/me/edit}" class="btn btn-primary">회원정보 수정</a>

            <form th:action="@{/members/me/withdraw}" method="post"
                  onsubmit="return confirm('정말 회원 탈퇴하시겠습니까?');">
                <button type="submit" class="btn btn-danger">회원탈퇴</button>
            </form>
        </div>
    </div>
</div> <!--/container-->
</body>
</html>







